*{
	margin: 0px;
	padding: 0px;

}

body{
	font-size: 18px;
	overflow-x: hidden;
	color: black;
	font-family: /*'Flamenco', cursive;*/
	background-color: white;

}


.clearfix:after{
}

.row{
	max-width: 1180px;
	margin: 0 auto;
  height: 100%;
  width: auto;
}

.logo{
	height: 70px;
	width: auto;
	float: center;
	margin-top: 15px;height: 70px;
	width: auto;
	margin-right: 30px;

}
.left-nav{
	float: left;
	margin-top: 0.650px;
}

.left-nav li{
	display: inline-block;
	list-style: none;
	margin-right: 30px;
	margin-left: 50px;
}

.left-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	font-weight: 100;
}

.right-nav{
	float: right;
	margin-top: 0.950px;
}

.right-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 50px;
	margin-right: 30px

}

.right-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	font-weight: 100;
}
.dropdown-menu li a{
	padding: 2px 0;
}

/*warna dibawah menu*/
.left-nav li a:hover{
	border-bottom: 2px solid red;
}
.right-nav li a:hover{
	border-bottom: 2px solid red;
}

/*tulisan pada header*/
.main-content-header{
	width: 100px;
  font-size: 27px;
	padding:0 2%;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 100px;
    text-shadow:
        0 0 5px black,
        0 0 7px #fd7505,
        0 0 20px #fd7505,
        0 0 40px #fd7505,
        0 0 60px #fd7505,
        0 0 80px red,
        0 0 90px red,
        0 0 100px red,
        0 0 150px red;
}

h1{
	color: white;           font-size: 200%;  
	word-spacing: 6px;     letter-spacing: 2px;
	margin-bottom: 20px;   text-transform: uppercase;
	font-weight: lighter;    /*font-family: 'Flamenco', cursive;*/
}
.footer {
  color: white;
}
.btn{
	display: inline-block;         padding: 10px 30px;
	font-weight: lighter;          text-decoration: none;
	text-transform: uppercase;     border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}
.karakter-page {
    padding: 50px;
    width: 90%;
    margin: 100px auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.karakter-page .card {
    border-radius: 65px;
    background-color: rgb(0,0,0);
    box-shadow: 10px 10px 10px rgba(255,127,0);
}
.karakter-page .cover {
    height: 350px;
    border-top-left-radius: 80px;
    border-top-right-radius: 50px;
    background-position: center;
    background-size: cover;
    transition: all 200ms ease-in-out;
}
.karakter-page .footer {
    font-family: 'WorkSans-Regular';
    padding: 1em;
    text-align: center;
}
.karakter-page .footer a{
    position: relative;
    font-size: 16px;
}

$itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}

footer {
  margin: 0;
  background-color: #000;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;

}
  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
   } 
    .item {
      padding: 0 2px;
      transition: $duration all;
      }
      .item:hover { 
        margin: 0 40px;
        transform: scale(1.2);
      }
    
    /*ini untuk panah pada kontainer*/
    footer a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background:rgb(0,0,0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;
      }
      
      footer a:nth-of-type(1) {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      footer a:nth-of-type(2) {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }

      @import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
body {
  margin: 0;
  padding: 0;
}
.col2{color:#FFFFFF; background-color:#191919; padding:20px 0;}
.footer_container {
  max-width: 940px;
  height: 100px;
  margin: 0 auto;
  padding-top: 2%;
}

      
// Remove the arrow for Mobile
@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display:none;
  }
}


.content .container p{
	font-family:'Arvo', serif;
	 line-height: 1.8;
}

.w3-col .w3-hide-small .w3-padding-large p{
	text-align: right;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>